
<div id="last_donors_banner" class="light-text">
    <div class="donors" style="margin-top: 0px;">
        <span>Merci à Christian pour son don de 40€</span>
    </div>
    <div class="donors" style="margin-top: 0px;">
        <span>Merci à Antoine pour son don de 60€</span>
    </div>
    <div class="donors" style="margin-top: 0px;">
        <span>Merci à Gérard pour son don de 65€</span>
    </div>
    <div class="donors" style="margin-top: 0px;">
        <span>Merci à THERY pour son don de 250€</span>
    </div>
    <div class="donors" style="margin-top: 0px;">
        <span>Merci à MICHEL pour son don de 55€</span>
    </div>
    <div class="donors" style="margin-top: 0px;">
        <span>Merci à thomas pour son don de 100€</span>
    </div>
</div>

<script type='text/javascript'>
    optionsGlobal = '';
    optionsCampaign = {"KFJEi9kava0x5LjA0SMy":"","theme":"arya","active_theme":"1","font":"Poppins","font_title":"Poppins","fontsize":"","wedge":"5","donation_grid":"1","widgets_footer":"1","widgets_progress_bar_currency":"","widgets_color_progress_bar_goal":"#5F97AF","widgets_progress_bar_goal":"","widgets_progress_bar_text_en_EN":"","widgets_progress_bar_text":"","widgets_progress_bar_text_fr_FR":"","widgets_last_donors":"true","widgets_color_last_donors":"#EE1313","widgets_last_donors_filter":"10","widgets_last_donors_text_en_EN":"","widgets_last_donors_text":"Merci \u00e0 $n pour son don de $a\u20ac","widgets_last_donors_text_fr_FR":"Merci \u00e0 $n pour son don de $a\u20ac","widgets_cookies_banner":"true","widgets_color_cookies_banner":"#1DA0C4","widgets_cookies_banner_text_en_EN":"","widgets_cookies_banner_text":"Solidarit&eacute;s International et ses partenaires utilisent des cookies dans le but de mesurer l\u2019audience sur le site. <a href=\"https:\/\/www.solidarites.org\/fr\/utilisation-des-cookies\/\" target=\"_blank\">Politique de cookies<\/a>","widgets_cookies_banner_text_fr_FR":"Solidarit&eacute;s International et ses partenaires utilisent des cookies dans le but de mesurer l\u2019audience sur le site. <a href=\"https:\/\/www.solidarites.org\/fr\/utilisation-des-cookies\/\" target=\"_blank\">Politique de cookies<\/a>","widgets_cookies_banner_button_en_EN":"","widgets_cookies_banner_button":"","widgets_cookies_banner_button_fr_FR":"","--main-action-color":"#EE1313","--main-action-color-lighter":"#ff4730","--description-color":"#29A0C4","--information-color":"#29A0C4","--column-background-color":"#ECEDEEE6","--banner-color":"#29A0C4","--banner-color-darker":"#005d7e"};
    context_lang = "fr_FR";
    campaign_stats = {"count":"15967","sum":"146664648","min":"100","max":"500000","avg":"91.85","progress":"100","last_donators":[{"firstname":"Walid","total":"1000","date":"2022-02-14 23:56:00","campaign":"1","city":"ROUEN","message":"","avatar":""},{"firstname":"thomas","total":"10000","date":"2022-02-14 22:59:00","campaign":"1","city":"PARIS","message":"","avatar":""},{"firstname":"Christian","total":"4000","date":"2022-02-14 14:43:00","campaign":"1","city":"NOUVOITOU","message":"","avatar":""},{"firstname":"Abdoul Karim","total":"200","date":"2022-02-14 10:35:00","campaign":"1","city":"MONTPELLIER","message":"","avatar":""},{"firstname":"Djelali","total":"500","date":"2022-02-14 06:20:00","campaign":"1","city":"ORL\u00e9ANS","message":"","avatar":""},{"firstname":"Antoine","total":"6000","date":"2022-02-13 21:55:00","campaign":"1","city":"LATTES","message":"","avatar":""},{"firstname":"elie","total":"300","date":"2022-02-13 16:16:00","campaign":"1","city":"PARIS","message":"","avatar":""},{"firstname":"G\u00e9rard","total":"6500","date":"2022-02-13 10:29:00","campaign":"1","city":"CHAPONOST","message":"","avatar":""},{"firstname":"THERY","total":"25000","date":"2022-02-12 19:21:00","campaign":"1","city":"PLESNOIS","message":"","avatar":""},{"firstname":"MICHEL","total":"5500","date":"2022-02-12 16:07:00","campaign":"1","city":"AUBAGNE","message":"","avatar":""}],"date_cache":"2022-02-15"};
    campaign_stats_last_donators = [{"firstname":"Walid","total":"1000","date":"2022-02-14 23:56:00","campaign":"1","city":"ROUEN","message":"","avatar":""},{"firstname":"thomas","total":"10000","date":"2022-02-14 22:59:00","campaign":"1","city":"PARIS","message":"","avatar":""},{"firstname":"Christian","total":"4000","date":"2022-02-14 14:43:00","campaign":"1","city":"NOUVOITOU","message":"","avatar":""},{"firstname":"Abdoul Karim","total":"200","date":"2022-02-14 10:35:00","campaign":"1","city":"MONTPELLIER","message":"","avatar":""},{"firstname":"Djelali","total":"500","date":"2022-02-14 06:20:00","campaign":"1","city":"ORL\u00e9ANS","message":"","avatar":""},{"firstname":"Antoine","total":"6000","date":"2022-02-13 21:55:00","campaign":"1","city":"LATTES","message":"","avatar":""},{"firstname":"elie","total":"300","date":"2022-02-13 16:16:00","campaign":"1","city":"PARIS","message":"","avatar":""},{"firstname":"G\u00e9rard","total":"6500","date":"2022-02-13 10:29:00","campaign":"1","city":"CHAPONOST","message":"","avatar":""},{"firstname":"THERY","total":"25000","date":"2022-02-12 19:21:00","campaign":"1","city":"PLESNOIS","message":"","avatar":""},{"firstname":"MICHEL","total":"5500","date":"2022-02-12 16:07:00","campaign":"1","city":"AUBAGNE","message":"","avatar":""}];
</script>