<% @title="Les articles" %>
<div class="mx-auto container py-2 px-6">
<!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-2">
    
    <%= render "posts/shared/post-feed" %>
    
    <% @posts.each do |post| %>
        <div class="rounded">
            <div class="w-full py-2 flex-col justify-between bg-pink-300 rounded-lg border border-pink-300  py-1 px-4">
                <div>
                <!-- Title-->
                    <h4 class="text-gray-800 font-bold mb-3">
                        <%= truncate(strip_tags(post.content.to_s.html_safe), length: 60) %>
                    </h4>
                <!-- Content-->
                    <p class="text-gray-800 text-sm">
                        <%= truncate(strip_tags(post.content.to_s.html_safe), length: 100) %>
                    </p>
                </div>
                <div>
                    <div class="flex items-center justify-between text-gray-800">
                        <p class="text-sm"><%= post.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>
                        <button class="w-8 h-8 rounded-full bg-gray-800 text-white flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-pink-300   focus:ring-black"
                            aria-label="edit note" role="button">
                            <svg  xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                                <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>