<div class="bg-blue-600 flex ">
<p class="uppercase font-semibold mx-auto py-1">
    <span class="mr-4 h-6 w-6"> <i class="bi bi-arrow-left-circle"></i></span>
    <span class=""><%= link_to 'Nous Donner', '#donner' , class:"no-underline hover:text-white" %></span>
    <span class="mx-4"><%= link_to 'Nous rejoindre',"#Join-ensemble" , class:"no-underline hover:text-white" %></span>
    <span class=""><%= link_to 'Dévenir Partenaire', "#partenaire" , class:"no-underline hover:text-white" %></span>
    <span class="mx-4"><%= link_to 'Opérations de Solidaritées', "#Operations" , class:"no-underline hover:text-white" %></span>    
    <span class=" ml-4 h-6 w-6"> <i class="bi bi-arrow-right-circle"></i></span>
</p>
</div>
