<% @title="Accueil" %>
<!-- component -->
<div class="mb-6">
    <%= render "welcome/shared/homeNavbar" %>
    <%= render "welcome/shared/homeMessage" %>
    <%= render "welcome/shared/actions_terrain" %>
    <%= render "welcome/shared/footer" %>
</div> 




