<section class="py-20 2xl:py-40 bg-gray-800">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap -mx-4 pb-24 mb-16 border-b border-gray-400">
      <div class="w-full lg:w-2/5 px-4 mb-16 lg:mb-0">
        <span class="text-lg text-blue-400 font-bold">Action+</span>
        <h2 class="max-w-sm mt-8 mb-12 text-5xl text-white font-bold font-heading">Merci a nos partenaires</h2>
        <p class="mb-16 text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, reiciendis. Quam ullam amet pariatur cumque illum rem eaque nam accusantium placeat tenetur, labore!.</p>
        <div><a class="inline-block mb-4 sm:mb-0 sm:mr-4 py-4 px-12 text-white font-bold 
        bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200" href="#">Notre mission</a><a class="inline-block px-12 py-4 text-white font-bold border border-gray-200 hover:border-white rounded-full" href="#">Contact</a></div>
      </div>
      <div class="w-full lg:w-3/5 px-4">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-16 lg:mb-0">
            <ul class="text-lg">
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Hello</a></li>
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Story</a></li>
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Pricing</a></li>
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Applications</a></li>
              
            </ul>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-16 lg:mb-0">
            <ul class="text-lg">
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Newsletter</a></li>
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Features</a></li>
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">How it works</a></li>
              
              <li><a class="text-gray-200 hover:text-gray-100" href="#">Team</a></li>
            </ul>
          </div>
          <div class="w-full lg:w-1/3 px-4">
            <ul class="text-lg">
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">New account</a></li>
             
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Testimonials</a></li>
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Contact</a></li>
              <li class="mb-6"><a class="text-gray-200 hover:text-gray-100" href="#">Privacy Policy</a></li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="md:flex justify-between">
      <p class="text-lg text-gray-200 mb-8 md:mb-0">&copy; <%= DateTime.now.year %> Action+. Tous droits reservé.</p>
      <div class="flex items-center">
        <a class="inline-block mr-2" href="#">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px"><path fill="#039be5" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"/><path fill="#fff" d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z"/></svg>
        </a>
        <a class="inline-block mr-2" href="#">
         <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px"><radialGradient id="yOrnnhliCrdS2gy~4tD8ma" cx="19.38" cy="42.035" r="44.899" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fd5"/><stop offset=".328" stop-color="#ff543f"/><stop offset=".348" stop-color="#fc5245"/><stop offset=".504" stop-color="#e64771"/><stop offset=".643" stop-color="#d53e91"/><stop offset=".761" stop-color="#cc39a4"/><stop offset=".841" stop-color="#c837ab"/></radialGradient><path fill="url(#yOrnnhliCrdS2gy~4tD8ma)" d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"/><radialGradient id="yOrnnhliCrdS2gy~4tD8mb" cx="11.786" cy="5.54" r="29.813" gradientTransform="matrix(1 0 0 .6663 0 1.849)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4168c9"/><stop offset=".999" stop-color="#4168c9" stop-opacity="0"/></radialGradient><path fill="url(#yOrnnhliCrdS2gy~4tD8mb)" d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"/><path fill="#fff" d="M24,31c-3.859,0-7-3.14-7-7s3.141-7,7-7s7,3.14,7,7S27.859,31,24,31z M24,19c-2.757,0-5,2.243-5,5	s2.243,5,5,5s5-2.243,5-5S26.757,19,24,19z"/><circle cx="31.5" cy="16.5" r="1.5" fill="#fff"/><path fill="#fff" d="M30,37H18c-3.859,0-7-3.14-7-7V18c0-3.86,3.141-7,7-7h12c3.859,0,7,3.14,7,7v12	C37,33.86,33.859,37,30,37z M18,13c-2.757,0-5,2.243-5,5v12c0,2.757,2.243,5,5,5h12c2.757,0,5-2.243,5-5V18c0-2.757-2.243-5-5-5H18z"/></svg>
        </a>
        <a class="inline-block" href="#">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px"><path fill="#03a9f4" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z"/><path fill="#fff" d="M36,17.12c-0.882,0.391-1.999,0.758-3,0.88c1.018-0.604,2.633-1.862,3-3 c-0.951,0.559-2.671,1.156-3.793,1.372C31.311,15.422,30.033,15,28.617,15C25.897,15,24,17.305,24,20v2c-4,0-7.9-3.047-10.327-6 c-0.427,0.721-0.667,1.565-0.667,2.457c0,1.819,1.671,3.665,2.994,4.543c-0.807-0.025-2.335-0.641-3-1c0,0.016,0,0.036,0,0.057 c0,2.367,1.661,3.974,3.912,4.422C16.501,26.592,16,27,14.072,27c0.626,1.935,3.773,2.958,5.928,3c-1.686,1.307-4.692,2-7,2 c-0.399,0-0.615,0.022-1-0.023C14.178,33.357,17.22,34,20,34c9.057,0,14-6.918,14-13.37c0-0.212-0.007-0.922-0.018-1.13 C34.95,18.818,35.342,18.104,36,17.12"/></svg>
        </a>
      </div>
    </div>
  </div>
</section>