<div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-5 mt-lg-5">
        <h1 class="display-5 animated fadeIn mb-4">Lorem <span class="text-primary">Perfect Action+</span> To Live With Your Family</h1>
        <p class="animated fadeIn mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet
                        sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
        <%= link_to 'Fais Don', root_path, class:"btn btn-primary py-3 px-5 me-3 animated fadeIn" %>
    </div>
    <div class="col-md-6 animated fadeIn">
        <div class="owl-carousel header-carousel">
            <div class="owl-carousel-item">
            <%= image_tag "images/full.jpeg", class:"img-fluid", alt:"full" %>
            </div>
            <div class="owl-carousel-item">
                <%= image_tag "images/logement.jpeg", class:"img-fluid",  alt:"log" %>             
            </div>
        </div>
    </div>
</div>