<div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-5 mt-lg-5">
        <h1 class="display-5 animated fadeIn mb-4">
        Action<sup class="">+</sup> <span class="text-primary">Agir ensemble</span>,  pour un avenir meilleur
        </h1>
        <p class="animated fadeIn mb-4 pb-2"><span class="fadeIn animated fon-bold text-primary">Action<sup class="">+</sup></span> est une ONG internationale humanitaire
qui lutte depuis près de 2 jours contre la faim en Afrique.</p>
        <%= link_to 'Faire un don', root_path, class:"btn btn-primary py-3 px-5 me-3 animated fadeIn text-md font-bold" %>
    </div>
    <div class="col-md-6 animated fadeIn">
        <div class="owl-carousel header-carousel">
            <div class="owl-carousel-item">
            <%= image_tag "images/full.jpeg", class:"img-fluid", alt:"full" %>
            </div>
            <div class="owl-carousel-item">
                <%= image_tag "images/logement.jpeg", class:"img-fluid",  alt:"log" %>             
            </div>
        </div>
    </div>
</div>