<div class="w-full container-xxl bg-gray-200 p-0">
  <!-- component -->
   <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <%= render "welcome/shared/navbar" %>
            <%= render "/shared/actualites" %>
        </div>
        <!-- Navbar End -->
  <div class="flex-1 flex flex-col overflow-hidden">
  <!-- Header -->
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
      <div class="container mx-auto px-6 py-8">
        <div class="flex justify-between items-center">
          Accueil . actualites
          <h3 class="text-gray-700 text-3xl font-medium"> NOS ACTUALITÉS À LA UNE</h3>
        </div>
        <div class="mt-8">
          <!-- Header -->
          <div id="posts" class="min-w-full">
            <%= render @posts %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
      
